<%- include('partials/header') %>
<h1 class="myheading"> Mysuru Mulakanadu Sabha®</h1>

 <% if(iflogin){ %>


	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<div class="user_card mt-5 mx-5 px-3">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/logo.jpeg" class="brand_logo" alt="Logo">
					</div>
        		</div>
        <div class="d-flex justify-content-center">
		<% if(passwordmessage==="") { %>
		<h4 class="myh4">Login with your credentials</h4>
		<% } else{ %>  
		<h6 class="myh4" style="color:red;"><strong><%= passwordmessage %>.</strong></br>Haven't created an account?<a href="/" class="ml-2">Register</a></h6>
			
		
		<% } %>
        </div>
				<div class="d-flex justify-content-center form_container">
         
					<form action="/login" method="POST">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass"  placeholder="password">
            </div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn">Login</button>
           </div>
          
					</form>
				</div>
		
      </div>
        
    </div>
  </div>

  
<% } else{ %>  

	<div class="container-fluid">
		<div class="d-flex row justify-content-center">
			<div class="user_card mt-5 mx-5 px-3">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/logo.jpeg" class="brand_logo" alt="Logo">
					</div>
        </div>
       <div class="d-flex justify-content-center">
		<% if(passwordmessage==="") { %>
		<h4 class="myh4">Create an online sabha account.</h4>
		<% } else{ %>  
		<h6 class="myh4" style="color:red;"><%= passwordmessage %></h6>
		<% } %>
        </div>
				<div class="d-flex justify-content-center form_container">
         
					<form action="/register" method="POST">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass"  placeholder="password">
            </div>
            <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password2" class="form-control input_pass" placeholder="re-type password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn">Register</button>
           </div>
          
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<strong>Already have an account?</strong> <a href="/login" class="ml-2"><strong>Login</strong></a>
					</div>
					<div class="d-flex justify-content-center links">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
        <div class="mt-4">
          <div class=" justify-content-center ">
						<a class="btn btn-block btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign In with Google
          </a>
					</div>


      </div>
        
    </div>
  </div>

  <% } %>



      
<%- include('partials/footer') %>
