.centered {
	padding-top: 200px;
	text-align: center;
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}

.center {
	margin: 50px auto;

}

h1.myheading {
	padding: 15px;
	text-align: center;
	text-shadow: 1px 1px;
	font-family: 'Hind Vadodara';
	font-weight: 600;
	color: #c0392b;
	position: relative;
	/* left: 20px;  */
	background: #ffda77;
	/* padding-left: 150px; */
}

.table-bordered{
	border-color:black;
}
.myh4 {
	position: relative;
	top: 90px;
}

.colorspan{
	color: #c0392b;
	font-weight: 600;
}


.myh5{
	text-align: center;
	font-family: 'Hind Vadodara';
	color: gray;
}

.myh2{
	text-align: center;
	font-family: 'Hind Vadodara';
	font-weight: 500;
	font-size:2rem;
}

.footerlogo {
	text-align: center;
	width:9%;
	height: 12%;
	margin-top: 20px;
	padding: 20px;
	border-radius: 30%;
}

.btn-google {
	color: #fff;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus,
.btn-google.focus {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active:hover,
.btn-google.active:hover,
.open>.dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open>.dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open>.dropdown-toggle.btn-google.focus {
	color: #fff;
	background-color: #a32b1c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	background-image: none
}

.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google .badge {
	color: #dd4b39;
	background-color: #fff
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #aee6e6 !important;
}

.red {
	background-color: red;
}

.user_card {
	margin-top: auto;
	margin-bottom: auto;
	background: #ffda77;
	position: relative;
	/* display: flex; */
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.hw1{
	height: 550px;
	width: 400px;
}


.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}